.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
/* .header{
  grid-area: header;
  background-color: grey;
}
.header img {
  width: 20px;
} */

/* .nav {
  grid-area: nav;
  background-color: rgba(128, 128, 128, 0.938);
} */

/* .content {
  grid-area: content;
  background-color: rgba(128, 128, 128, 0.829);

}
.content img {
  width: 100%;
  height: 200px;
} */
.app-wrapper-content {
    grid-area: content;
    background-color: rgba(209, 209, 209, 0.829);
    
}